<!DOCTYPE html>
<html>
    <head>
    </head>
    <script src="\login.js"></script>

    <body>
        <h1>
log ind her !!!        </h1>
        <form id='forms' >
            <input  type='text' placeholder='email' id='email' >
            <input  type='text' placeholder='password' id='password'>
            <input value='send din submissiion her ' type='submit' id='ss'>
        </form>

        <div id='results'></div>
        <button onclick="index()">tilbage til index her!!!</button>
        <button onclick="tjek()">Klik her for at tjekke om du er logget ind eller ej!! Vi tjekker om der er logget ind i localStorage!!.</button>
        <button onclick="fjern()">Her kan du trykke for at logge ud fra din key og value som er i localstorage</button>
        <button onclick="slet()">tryk her for at gå til html hvor du kan slette</button>



    </body>

</html>

// <!-- 
// .then((response)=> response.json())
// .then((response)=>{
//     if (!response){
//         location.href=('/login')
//     } -->


<!-- <!DOCTYPE html>
<html>
    <head>
        <script src="\login.js"></script>

    </head>
    <body>
        <h1>
Login her        </h1>
        <form id='form' >
            <input  type='text' placeholder='email' id='email' >
            <input  type='text' placeholder='password' id='password'>
            <input value='log ind ' type='submit'>
        </form>
        <div id='results'></div>
        <button onclick="index()">tilbage til index her!!!</button>
    </body>
 <script>
        var form = document.getElementById('form')
        form.addEventListener('submit', function(e){
            e.preventDefault();

var mail = document.getElementById('email').value
var kode = document.getElementById('password').value

    fetch("/users/login", {
        method: 'POST',
        body:JSON.stringify({
            email:mail,
            password:kode
        }),
        
        headers:{
            "Content-Type": "application/json; charset=UTF-8"
        }
 
    })
    
    .then(function(response){
        return response.json();
        alert(response)
    })
    
   
    
})
.then(function(data){
        console.log(data)
        if (data){
            location.href='/login.html'
        }
    })
    function index() {
    location.href=("/index.html")   
}
    </script> -->
<!-- </html> --> 