<!DOCTYPE html>
<html>
    <head>
    </head>
    <script src="\put.js"></script>

    <body>

        <form id='formsput' >
            <input  type='text' placeholder='id' id='id' >
            <input  type='text' placeholder='email' id='nyemail' >
            <input  type='text' placeholder='ny password' id='nypassword' >

            <input value='ændre email og password her ' type='submit' id='sws'>
        </form>
        <button onclick="index()">tilbage til index her!!!</button>

    </body>

    </html>
    