<!DOCTYPE html>
<html>
    <head>
    </head>
    <script src="\slet copy.js"></script>

    <body>

        <form id='formsdelete' >
            <input  type='text' placeholder='email' id='email' >
            <input value='skriv email for at slette dine produkter! ' type='submit' id='sws'>
        </form>
        <button onclick="index()">tilbage til index her!!!</button>

    </body>
    <script>
        function index() {
            location.href=("/index.html")   
        
        }</script>

    </html>
    