<!DOCTYPE html>
<html>
    <head>
    </head>
    <script src="\putprodukt.js"></script>

    <body>

        <form id='formsput' >
            <input  type='text' placeholder='id' id='id' >
            <input  type='text' placeholder='email' id='nyemail' >
            <input  type='text' placeholder='ny produktbillede' id='nyproduktbillede' >
            <input  type='text' placeholder='ny kategori' id='nykategori' >
            <input  type='text' placeholder='ny pris' id='nypris' >


            <input value='ændre email, pris, kategori og produktbillede her!! ' type='submit' id='sws'>
        </form>
        <button onclick="index()">tilbage til index her!!!</button>

    </body>

    </html>
    