<!DOCTYPE html>
<html>
    <head>
    </head>
    <script src="\register.js"></script>

    <body>
        <h1>
            opret bruger her!
        </h1>
        <form id='forms' >
            <input  type='text' placeholder='email' id='email' >
            <input  type='text' placeholder='password' id='password'>
            <input value='send info her! ' type='submit' id='ss'>
        </form>
        <div id='results'></div>
        <button onclick="index()">tilbage til index her!!!</button>
        <button onclick="tjek()">Klik her for at tjekke om du er logget ind eller ej!! Vi tjekker om der er logget ind i localStorage!!.</button>
        <button onclick="fjern()">Her kan du trykke for at logge ud fra din key og value som er i localstorage</button>

    </body>

</html>

// <!-- 
// .then((response)=> response.json())
// .then((response)=>{
//     if (!response){
//         location.href=('/login')
//     } -->